h1{
    text-align: center;
    color: rgb(12, 76, 76);
}
h2{
    text-align: center;
    color: rgb(12, 76, 76);
}
body{
    background-color: rgb(26, 205, 202);
}
h6{
    text-align: center;
}
img{
    border: 2px solid #e00404;
}
h3{
    text-align: center;
    color: rgb(12, 76, 76)
}
